.items-list.groceries .list-group-item .pantry-item .item-options button {
  width: 50%; }
.items-list.groceries .list-group-item .pantry-item .item.outofstock .item-name {
  text-decoration: none;
  opacity: 1; }
.items-list .list-group-item {
  position: relative;
  padding: 0; }
  .items-list .list-group-item:hover {
    cursor: pointer; }
  .items-list .list-group-item.new-item-form {
    border-left: 4px solid #5bc0de; }
  .items-list .list-group-item .pantry-item .item-wrapper {
    height: 65px;
    display: table;
    transition: margin 0.15s ease-in-out; }
    .items-list .list-group-item .pantry-item .item-wrapper.active {
      margin-left: 325px; }
      .items-list .list-group-item .pantry-item .item-wrapper.active .item-options {
        margin-left: 0; }
  .items-list .list-group-item .pantry-item.edited .item .checkmark {
    opacity: 1; }
  .items-list .list-group-item .pantry-item .item, .items-list .list-group-item .pantry-item .item-options {
    display: table-cell;
    vertical-align: middle; }
  .items-list .list-group-item .pantry-item .item {
    background-color: #fff;
    position: relative;
    z-index: 10;
    width: 100%; }
    .items-list .list-group-item .pantry-item .item.outofstock .item-name {
      text-decoration: line-through;
      opacity: 0.2; }
    .items-list .list-group-item .pantry-item .item.edit-mode {
      padding: 15px;
      position: relative; }
      .items-list .list-group-item .pantry-item .item.edit-mode input {
        font-size: 18px;
        font-weight: 500;
        color: #333;
        border: 1px solid #eee;
        width: 100%;
        margin: 0;
        padding: 0 0 0 5px; }
      .items-list .list-group-item .pantry-item .item.edit-mode button {
        position: absolute;
        top: 50%;
        right: 15px;
        margin-top: -17px;
        width: 160px; }
    .items-list .list-group-item .pantry-item .item .item-name {
      /*margin:0 0 0 10px; padding:20px 0 0 0; */
      margin: 0 0 0 10px;
      padding: 0; }
    .items-list .list-group-item .pantry-item .item .checkmark {
      /*margin:23px 0 0 10px;*/
      margin: 0 0 0 10px;
      color: green;
      opacity: 0;
      -webkit-transition: opacity 0.4s ease-in-out;
      -moz-transition: opacity 0.4s ease-in-out;
      -ms-transition: opacity 0.4s ease-in-out;
      -o-transition: opacity 0.4s ease-in-out;
      transition: opacity 0.4s ease-in-out; }
  .items-list .list-group-item .pantry-item .item-options {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 325px;
    height: 100%;
    margin-left: -325px;
    z-index: 0;
    -webkit-transition: all 0.15s ease-in-out;
    -moz-transition: all 0.15s ease-in-out;
    -ms-transition: all 0.15s ease-in-out;
    -o-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out; }
    .items-list .list-group-item .pantry-item .item-options button {
      height: 100%;
      width: 33%; }
      .items-list .list-group-item .pantry-item .item-options button:last-child {
        border-top-right-radius: 0 !important;
        border-bottom-right-radius: 0 !important; }

.ng-dirty.ng-invalid {
  border-color: red; }

/* Angular Bootstrap fix for empty href */
.nav, .pagination, .carousel, .panel-title a {
  cursor: pointer; }

/* Bootstrap twitch for fastest modals */
.fade {
  opacity: 0;
  -webkit-transition: opacity 0.1s linear;
  -moz-transition: opacity 0.1s linear;
  -ms-transition: opacity 0.1s linear;
  -o-transition: opacity 0.1s linear;
  transition: opacity 0.1s linear; }

.modal.fade .modal-dialog {
  -webkit-transition: -webkit-transform 0.1s ease-out;
  -moz-transition: -moz-transform 0.1s ease-out;
  -o-transition: -o-transform 0.1s ease-out;
  transition: transform 0.1s ease-out; }
