body{
	background:url('../img/pattern.jpg') repeat;
	background-attachment: fixed;
	padding-top:100px;
	font-family:"Open sans";
}

h2{
	padding:0 10px 10px 15px;
}
.wrapper{
	position:relative;
	max-width:800px;
	margin:0 auto;
}

.navbar{

	.navbar-nav .dropdown{
		overflow:visible;

		&.active a{
			// background-color:transparent!important;
		}

		.dropdown-menu li{
			a{
				margin:5px 0;
			}
		}
	}

	.navbar-nav{

		li{
			a{
				-webkit-transition: all 0.4s ease;
			   	   -moz-transition: all 0.4s ease;
				    -ms-transition: all 0.4s ease;
				     -o-transition: all 0.4s ease;
				        transition: all 0.4s ease;
			}

			&.animate{
				position:relative;
				height:50px;
				overflow:hidden;

				&:hover:not(.dropdown){
					a:first-child{
						margin-top:-50px;
					}
				}

				a{
					margin-top:0;
		
					&:last-child{
						color:#fff;
					}
				}		
			}

			&.active{
				a{
					// background-color:transparent !important;
				}
			}
		}
	}

	.navbar-brand{
		height:50px;
		padding:10px 0;
		margin:0 10px 0 15px;
		overflow:hidden;
		img{
			margin:0 auto 10px auto;
			display:block;
			height:100%;

			-webkit-transition: all 0.1s ease-in-out;
			   -moz-transition: all 0.1s ease-in-out;
			    -ms-transition: all 0.1s ease-in-out;
			     -o-transition: all 0.1s ease-in-out;
			        transition: all 0.1s ease-in-out;

		}

		&:hover{
			img:first-child{
				margin-top:-40px;
			}

			img:last-child{
				// opacity:1;
			}
		}

	}
	.filter-group{
		.input-group{ 
			width:200px; 
			margin:0 10px 0 0;
		}
		// width:300px; 
	}
}

.new-item-form{
	border-left:4px solid lightblue;
}

.items-list{

	&.groceries, &.receipes {
		.list-group-item{
			.pantry-item{
				.item-options button{ width:50%;}
				.item.outofstock .item-name{text-decoration: none; opacity:1;}
			}
		} 
	}

	.list-group-item{
		position:relative;
		padding:0;
		background-color:transparent;

		&:hover{ 
			cursor:pointer; 

			.pantry-item{
				.item{
					background-color:rgba(255,255,255,1);
					padding-left:8px;
				}
			}
		}

		.pantry-item{

			.item-wrapper{ 
				height:65px;
				display:table;
				transition:margin 0.15s ease-in-out;

				&.active{ 
					margin-left:325px; 
					.item-options{margin-left:0;opacity:1;};
				}
			} // .item-wrapper

			&.edited{
				.item .checkmark{ 
					opacity:1;
				}
			}

			.item, .item-options{
				display:table-cell;
				vertical-align: middle;
			}

			.item{
				background-color:rgba(255,255,255, 0.5);
				position:relative;
				z-index:10;
				width:100%;

				-webkit-transition: all 0.15s ease-in-out;
				   -moz-transition: all 0.15s ease-in-out;
				    -ms-transition: all 0.15s ease-in-out;
				     -o-transition: all 0.15s ease-in-out;
				        transition: all 0.15s ease-in-out;

				&.outofstock .item-name{ text-decoration:line-through; opacity:0.2;}

				&.edit-mode{
					padding:15px;
					position:relative;

					input{
						font-size:18px;
						font-weight:500;
						color:#333;
						border:1px solid #eee;
						width:100%;
						margin:0;padding:0 0 0 5px;
					}

					button{
						position:absolute;
						top:50%;right:15px;
						margin-top:-17px;
						width:160px;
					}
				} // &.edit-mode

				.item-name{ 
					/*margin:0 0 0 10px; padding:20px 0 0 0; */
					margin:0 0 0 10px;padding:0;
				}

				.checkmark{ 
					/*margin:23px 0 0 10px;*/
					margin:0 0 0 10px; 
					color:green;
					opacity:0;

					-webkit-transition: opacity 0.4s ease-in-out;
					   -moz-transition: opacity 0.4s ease-in-out;
					    -ms-transition: opacity 0.4s ease-in-out;
					     -o-transition: opacity 0.4s ease-in-out;
					        transition: opacity 0.4s ease-in-out;

				}
			} // .item
 
			.item-options{
				position:absolute;
				top:0%;left:0%;
				width:325px;height:100%;
				margin-left:-200%;
				z-index:0;
				opacity:0;
				-webkit-transition: all 0.15s ease-in-out;
				   -moz-transition: all 0.15s ease-in-out;
				    -ms-transition: all 0.15s ease-in-out;
				     -o-transition: all 0.15s ease-in-out;
				        transition: all 0.15s ease-in-out;

				button{ 
					height:100%;width:33.4%; 

					&:last-child{
						border-top-right-radius: 0!important;
						border-bottom-right-radius: 0!important;
					}
					&:first-child{
						border-top-left-radius:0!important;
						border-bottom-left-radius:0!important;
					}
				} // button 
			} // .item-options
		} // .pantry-item
	} // .list-group-item
} // .items-list

.ingredient-list{
	a{
		margin:2px;
		padding:5px 10px;
		color:#fff; 
		display:inline-block;
		font-size:12px;
		-webkit-transition: all 0.15s ease-in-out;
		   -moz-transition: all 0.15s ease-in-out;
		    -ms-transition: all 0.15s ease-in-out;
		     -o-transition: all 0.15s ease-in-out;
		        transition: all 0.15s ease-in-out;

		&:hover{
			text-decoration: none;
		}
	}
}

.ng-dirty.ng-invalid{
	border-color:red;
}

.with-btn-inset{
	position:relative;
	.btn-inset{
		position:absolute;
		top:0;right:0;
		width:200px;
	}
}

/* Messages */
.message{
	position:fixed;
	right:10px;
	width:200px;height:66px;
	overflow:hidden;
	opacity:0;
	margin-top:-10px;
	z-index:2000;

	p{
		font-size:12px;
		margin:0;
	}

   -webkit-transition: all 0.3s ease;
      -moz-transition: all 0.3s ease;
       -ms-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
           transition: all 0.3s ease;

    &.animate{
    	opacity:1;
    	margin-top:0;
    }
}

/* Angular Bootstrap fix for empty href */
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

/* Bootstrap twitch for fastest modals */
 .fade {
   opacity: 0;
   -webkit-transition: opacity 0.1s linear;
      -moz-transition: opacity 0.1s linear;
       -ms-transition: opacity 0.1s linear;
        -o-transition: opacity 0.1s linear;
           transition: opacity 0.1s linear;
 }

 .modal.fade .modal-dialog{
	-webkit-transition: -webkit-transform 0.1s ease-out;
	-moz-transition: -moz-transform 0.1s ease-out;
	-o-transition: -o-transform 0.1s ease-out;
	transition: transform 0.1s ease-out; 
 }

@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
	.navbar-search{
		display:none;
	}

.message{
	top:51px;left:0px;
	width:100%;height:auto;
}
 
