<form class="navbar-form navbar-left navbar-search" role="search">
<div class="form-group filter-group">	
	<div class="input-group pull-left">
	  <span class="input-group-addon">Nom</span>
	  <input type="text" class="form-control" ng-model="search.name" placeholder="Filtre">
	</div>
		<div class="input-group pull-left">
	  <span class="input-group-addon">Catégorie</span>
	  <input type="text" class="form-control" ng-model="search.category" placeholder="Filtre">
	</div>
	<button type="submit" class="btn btn-default" ng-click="reset()">Voir tout</button>
 </div>

</form>