<div class='pantry-item animate' ng-class="{'edited':edited}">
  <div class='item-wrapper' ng-class="{'active':toggled, 'editing':editing}">

    <div class='item edit-mode' ng-show="toggled">
      <input type='text' ng-show="editing" inline-edit on-cancel="closeItem()" on-edit="update()" ng-model="editingPantryItem.name" />
      <input type='text' ng-hide="editing" disabled ng-model="editingPantryItem.name" />
      <button type="button" class="btn btn-info" ng-click="update();"><span class='glyphicon glyphicon-thumbs-up'></span></button>
    </div>
    <div class='item' ng-hide="toggled" hm-tap="openItem()" ng-class="{'outofstock':item.outOfStock}" >
      <span class="glyphicon glyphicon-ok checkmark pull-left"></span>
      <h4 class='item-name pull-left'>{{item.name}}</h3> 
    </div>

      <pantry-item-options></pantry-item-options>
  </div>

</div>