<div class='list-group items-list groceries'>

  <div class='list-group-item new-item-form'>
    <form role="form" name="quickListItemForm" ng-submit="quickListItemForm.$valid && addItem()" novalidate>
      <fieldset class="form-group row">
        <div class='col-xs-6'>
          <label for="item" class='sr-only'>Ajouter un élément</label>
          <!-- <input type="text" class="form-control" placeholder="Ajouter un élément" ng-model="newQuickListItem.name" required /> -->
        </div>

        <select ng-model='pantryItemId'>
          <option ng-repeat="pantryItem in pantryItems" value="{{pantryItem.id}}">{{pantryItem.name}}</option>
        </select>
      </fieldset>
      <button type="submit">Submit</button>
    </form>
  </div>

  <pantry-item class='list-group-item' ng-controller="PantryItemController" ng-repeat="item in quickList | orderBy:'name'" ></pantry-item>

</div>