<div class='pantry-item' ng-class="{'edited':edited}">
  <div class='item-wrapper' ng-class="{'active':toggled}">

    <div class='item edit-mode' ng-show="toggled">
      <input type='text' quick-edit="toggled" on-edit="update()" ng-model="editingReceipe.name" />
      <button type="button" class="btn btn-info"  ng-click="update();">OK</button>
    </div>
    <div class='item' ng-hide="toggled" ng-click="openItem();">
      <span class="glyphicon glyphicon-ok checkmark pull-left"></span>
      <h4 class='item-name pull-left'>{{receipe.name}}</h3> 
    </div>

      <receipe-options class="btn-group item-options"></receipe-options>
  </div>

</div>
