<h2>Recettes</h2>

  <div class='list-group-item new-item-form'>
    <form role="form" name="receipeForm"  ng-controller="ReceipeController" ng-submit="receipeForm.$valid && create()" novalidate>
      <fieldset class="form-group row">
        <div class='col-xs-6'>
          <label for="item" class='sr-only'>Nom de la recette</label>
          <input type="text" class="form-control" placeholder="Nom de la recette" ng-model="newReceipe.name" required />
        </div>
        <div class='col-xs-6'>
          <select multiple ng-model="newReceipe.ingredients" ng-options="item.name for item in pantryItems">
          </select>
        </div>
      </fieldset>
      <button type='submit'>+</button>

    </form>
  </div>

<receipe-list></receipe-list>

<grocery-list ng-hide="true"></grocery-list>