<div class="panel panel-default">
  <div class="panel-heading">{{panelTitle}}</div>
  <div class="panel-body">
    
		<form role="form" name="receipeForm" ng-controller="ReceipeController" ng-submit="save()" novalidate>
			<div class='btn-group pull-right'>
		  		<button type="submit" class="btn btn-success">Sauvegarder</button>
		  		<button type='button' class='btn btn-warning' ng-click="$close();">Annuler</button>
		  	</div>
		  	<br />
			<div class="form-group">
		    	<label for="receipeName">Nom de la recette</label>
		    	<input type="text" class="form-control" id="receipeName" ng-model="formReceipe.name" required />

		  	</div>	

		  	<div class='form-group with-btn-inset'>
				<input type="text" placeholder="Ajouter ingrédient" ng-model="ingredient" typeahead="ingredient as ingredient.name for ingredient in pantryItems | filter:$viewValue | limitTo:8" typeahead-on-select="addIngredient()" class="form-control" />
				<button type='button' ng-show="display_btn_inset" btn-inset class='btn btn-info' ng-click="createItem()">Créer l'item</button>
			</div>

			<div class='list-group items-list'>
				<h4>Ingrédients</h4>
			 	<div class='list-group-item' ng-controller="IngredientController" ng-repeat="ingredient in formReceipe.ingredients | orderBy:'name'">
					<div class='pantry-item'>
				  		<div class='item-wrapper' ng-class="{'active':toggled}">
				    		<div class='item' ng-click="toggleOptions();" >
				      		<span class="glyphicon glyphicon-ok checkmark pull-left"></span>
				      		<h4 class='item-name pull-left'>{{ingredient.name}}</h3> 
				    		</div>
				    		<receipe-ingredient-options class="btn-group item-options"></receipe-ingredient-options>
				  		</div>
					</div>
			  	</div>
			</div>
		  	<intput type="hidden" ng-model="mode" value="{{mode}}" />
		</form>
 

  </div>
</div>
