<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="app" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="app" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="app" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="app" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Pantry</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <link rel="apple-touch-icon" sizes="60x60" href="img/build/60x60.png">
  <link rel="apple-touch-icon" sizes="120x120" href="img/build/120x120x.png">
  <link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.min.css" />
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="css/app.css"/>
</head>
<body ng-controller="PantryController">

  <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->


  <nav class="navbar navbar-default navbar-fixed-top navbar-inverse" ng-controller="HeaderController" role="navigation">
    <div class="navbar-header">
        <a class="navbar-brand" nav-link href="#/pantry">
          <img src="img/build/logo.png" />
          <img src="img/build/logo2.png" />
        </a>
        <button type="button" class="navbar-toggle" ng-click="toggleCollapse()">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class='collapse navbar-collapse' collapse="isCollapsed">
        <ul class="nav navbar-nav" >
          <li ng-class="{'active':isActive('/pantry')}">
            <a href='#/pantry' nav-link>Garde-manger</a>
          </li>
          <li ng-class="{'active':isActive('/groceries')}">
            <a href='#/groceries' nav-link>Liste d'épicerie <span class='badge'>{{n_groceries}}</span></a>
          </li>
          <li class="dropdown" ng-class="{'open':dropdownIsOpen, 'active':isActive('/receipes')}">
            <a href="#" class="dropdown-toggle" ng-click="toggleDropdown();">Manger <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="#/receipes" nav-link>Livre de recettes</a></li>
                <li><a href="#" nav-link>Idées</a></li>
              </ul>
          </li>
        </ul>
        <item-filter></item-filter>
        <!-- <button class='btn btn-default' ng-click="showEvents();">Debug events</button> -->
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#">Options</a></li>
        </ul>
      </div>
  </nav>


  <div class='wrapper'>

    <div class='outside'>
      <options></options>
    </div>

    <div class='inner-wrapper'>
      <div ng-view></div>
    </div>
  </div>

  <footer>
    <p>Version <span last-update></span></p>
  </footer>
  
  <script src="bower_components/fastclick/lib/fastclick.js"></script>
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-route/angular-route.js"></script>
  <script src="bower_components/angular-resource/angular-resource.js"></script>
  <script src="bower_components/angular-bootstrap/ui-bootstrap.min.js"></script>
  <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
  <script src="js/libs/angular-local-storage.min.js"></script>
  <script src="js/libs/slugify.js"></script>
  <script src="js/app.js"></script>
  <script src="js/options.js"></script>
  <script src="js/services.js"></script>
  <script src="js/controllers.js"></script>
  <script src="js/filters.js"></script>
  <script src="js/directives.js"></script>

  <script src="js/controllers/pantry.js"></script>
  <script src="js/controllers/receipe.js"></script>
  <script src="js/controllers/grocery.js"></script>
  <script src="js/controllers/search.js"></script>
  <script src="js/controllers/header.js"></script>
  <!-- 
  <script src="js/build/_bower.min.js"></script>
  <script src="js/build/pantry.min.js"></script>
   -->

  

  <script type="text/javascript">
    window.addEventListener('load', function() {
      FastClick.attach(document.body);
    }, false);
  </script>
</body>
</html>
