<!-- <button class='btn btn-info' ng-show="hasGroceries" ng-click="clearGroceries()">Vider</button> -->

<div class='list-group-item new-item-form'>
	<form role="form" name="groceryItemForm" ng-controller="GroceryItemController" ng-submit="groceryItemForm.$valid && createNew();" novalidate>
	  <fieldset class="form-group">
			<input type="text" placeholder="Nouvel ingrédient" ng-model="newGroceryItem" typeahead="item as item.name for item in pantryItems | filter:$viewValue | limitTo:8" typeahead-on-select="create()" class="form-control" required>
	  </fieldset>
	  <button type='submit' class='btn btn-default'>Sauvegarder</button>
	</form>

</div>

<grocery-list></grocery-list>

<pantry-items ng-hide="true"></pantry-items>